
<%= render 'header' %>

<div class="container">
  <h1><%= @team.name %></h1>
  <h2><%= link_to @team.sport.name, sport_path %></h2>
  <!-- Need Game model done to calculate -->
  <span>Games Won: <%#=  %></span>
  <div>
    <!-- Need Roster done to calculate -->
    <%# if @team.full? %>
      <span>This Team is Full</span>
    <%# else %>
      <span><a href="">Apply For the Team!</a></span>
    <%# end %>
  </div>

  <h3>Upcoming Games</h3>
  <!-- Need Game model finished up to calculate -->
  <ul>
    <% @games.each do |game| %>
      <% if game.played? == false %>
      <li>
        <% home = Team.find_by(id: game.home_team_id) %>
        <% away = Team.find_by(id: game.away_team_id) %>
        <span><%= link_to home.name, home %> vs<% if away == nil %>
          TBD
        <% else %>
          <%= link_to away.name, away %> at <%= game.location %> on <%= game.schedule %>
        <% end %></span>
      </li>
      <% end %>
    <% end %>
  </ul>

  <h3>Games Played</h3>
  <!-- Need Game model finished up to calculate -->
  <ul>
    <% @games.each do |game| %>
    <% if game.played? == true %>
      <li>
        <% home = Team.find_by(id: game.home_team_id) %>
        <% away = Team.find_by(id: game.away_team_id) %>
        <span><%= link_to home.name, home %> vs
        <% if away == nil %>
          TBD
        <% else %>
          <%= link_to away.name, away %> at <%= game.location %> on <%= game.schedule %>
        <% end %>
      </span>
      <% end %>
      </li>
    <% end %>
  </ul>

  <h3>Players</h3>
  <ul>
    <% @team.players.each do |player| %>
      <li>
        <span><%= link_to player.first_name, player %></span>
      </li>
    <% end %>
  </ul>
  <span><%= link_to "Join this Team", new_team_roster_path(@team) %></span>
</div>

<%= render '/nav_secondary' %>
