<%= render 'header' %>

<div class="container">
  <h1>Welcome back!</h1>
  <br />
  <%= render '/errors' %>

  <%= form_for @user, url: {aciton: "post"}, :html => {:class => "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :email, "Email:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, "Password:", class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for=""></label>
    <div class="col-md-6">
      <%= f.submit "Submit", class: "col-md-2 btn btn-primary" %>
    </div>
  </div>

  <% end %>

</div>

<%= render '/nav_secondary' %>
