<%= render 'header' %>

<div class="container">
  <h1>Would you like to join <%= @team.name %>?</h1>


  <span><%= @team.name %> is a team that plays <%= @team.sport.name %>. </span>


  <%= button_to "Join Team",team_rosters_path(@team), { action: "create", data: {confirm: "Join this team?"}} %>


</div>

<%= render '/nav_secondary' %>
