<%= form_for @sport, :html => {:class => "form-horizontal"} do |f| %>
	<% if @sport.errors.any? %>
		<h2><%= pluralize(@sport.errors.count, "error") %> prevented this post from saving.</h2>
		<ul>
			<% @sport.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>

	<div class="form-group">
		<%= f.label :name, "Name:", class: "col-md-2 control-label" %>
		<div class="col-md-4">
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :min_players, "Min players:", class: "col-md-2 control-label" %>
		<div class="col-md-1">
			<%= f.text_field :min_players, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :max_players, "Max players:", class: "col-md-2 control-label" %>
		<div class="col-md-1">
			<%= f.text_field :max_players, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 control-label" for=""></label>
		<div class="col-md-6">
			<%= f.submit "Submit", class: "col-md-2 btn btn-primary" %>
		</div>
	</div>
<% end %>
