<%= render 'header' %>

<div class="container">
  <h1><%= @user.first_name %>'s Profile page</h1>
  <h3>You have won <%= @user.wins %> out of <%= @user.player_games_played.length %></h3>
    <div>
      <% if @user.teams.length > 0 %>
        <h2><%= @user.first_name %>'s teams</h2>
          <div id="teams_info">
            <% @user.teams.each do |team| %>
              <h3 id="team_name"><%= team.name %></h3>
                <span><%= team.games_won.length %> wins / <%= team.games_played.length %> played</span>
                  <% if team.games.length > 0 %>
                    <h4>Upcoming games:</h4>
                          <ul>
                          <% team.games.each do |game| %>
                            <li><%#= game.datetime %> <span><%= link_to game.home_team.name, game.home_team %> vs <%= link_to game.away_team.name, game.away_team %> at <%= game.location %></span></li>
                          <% end %>
                        </ul>
                  <% else %>
                    <h4>No games scheduled for <%= team.name %> at this time.</h4>
                  <% end %>
            <% end %>
          </div>
        <% else %>
        <h2>Get in the game, it looks like you aren't on a team yet.  Join a team or create your own below!</h2>

      <% end %>
    </div>
</div>

<%= render '/nav_secondary' %>
