<%= form_for @game, :html => {:class => "form-horizontal"} do |f| %>
	<% if @game.errors.any? %>
		<h2><%= pluralize(@game.errors.count, "error") %> prevented this post from saving.</h2>
		<ul>
			<% @game.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>

	<div class="form-group">
	  <label class="col-md-2 control-label" for="selectbasic">Team:</label>
	  <div class="col-md-4">

	    <%= f.collection_select :home_team_id, Team.all, :id, :name, {:include_blank => true}, {class: "form-control"} %>
	  </div>
	</div>

	<div class="form-group">
		<%= f.label :location, "Location:", class: "col-md-2 control-label" %>
		<div class="col-md-4">
			<%= f.text_field :location, class: "form-control" %>
		</div>
	</div>


	<div class="form-group"> <!-- Date input -->
		<%= f.label :date, "Date:", class: "col-md-2 control-label" %>
		<div class="col-md-4">
			<input class="form-control" id="date" name="game[schedule]"  placeholder="MM/DD/YYY" type="text"/>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :time, "Time:", class: "col-md-2 control-label" %>
		<div class="col-md-1">
			<%= f.text_field :time, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 control-label" for=""></label>
		<div class="col-md-6">
			<%= f.submit "Submit", class: "col-md-2 btn btn-primary" %>
		</div>
	</div>
<% end %>

<script>
    $(document).ready(function(){
      var date_input=$('input[name="game[schedule]"');
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
