<%= form_for @game, :html => {:class => "form-horizontal"} do |f| %>
	<% if @game.errors.any? %>
		<h2><%= pluralize(@game.errors.count, "error") %> prevented this post from saving.</h2>
		<ul>
			<% @game.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>

	<div class="form-group">
	  <label class="col-md-2 control-label" for="selectbasic">Team:</label>
	  <div class="col-md-4">

	    <%= f.collection_select :home_team_id, Team.all, :id, :name, {:include_blank => true}, {class: "form-control"} %>
	  </div>
	</div>

	<div class="form-group">
		<%= f.label :location, "Location:", class: "col-md-2 control-label" %>
		<div class="col-md-4">
			<%= f.text_field :location, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :datetime, "Date:", class: "col-md-2 control-label" %>
		<div class="col-md-4">
			<%= f.text_field :schedule, class: "form-control", placeholder: "Format as YYYY-MM-DD" %>
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 control-label" for=""></label>
		<div class="col-md-6">
			<%= f.submit "Submit", class: "col-md-2 btn btn-primary" %>
		</div>
	</div>
<% end %>
