<%= render 'header' %>

<div class="container">

	<h1>All Games</h1>

	<% if @games.length > 0 %>
		<% @games.each do |game| %>

			<h2><%= link_to game.sport.name, game %></h2>
			<%= link_to game.home_team.name, game.home_team %>
			vs.
			<% if game.away_team != nil %>
				<%= link_to game.away_team.name, game.away_team %>
			<% else %>
				TBD
			<% end %>
		<% end %>
	<% end %>
</div>
<%= render '/nav_secondary' %>
