<<<<<<< HEAD
<%= render 'header' %>
=======
<h1>
	<%= @sport.name %> :
	<%= @home_team.name.capitalize %> vs.
	<%= @away_team %>
</h1>
>>>>>>> master

<div class="container">

<<<<<<< HEAD
	<h1>Game: <%= @game.id %></h1>

	<p>
		Created: <%= time_ago_in_words(@game.created_at) %>
		| <%= link_to 'Edit', edit_game_path(@game) %>
		| <%= link_to 'Delete', game_path(@game), method: :delete, data: { confirm: 'Are you sure?'} %>
	</p>

	<p>Schedule: <%= @game.schedule %></p>
	<p>Location: <%= @game.location %></p>

</div>
=======

<p>
	Schedule: <%= @game.schedule %>
</p>
<p>
	Location: <%= @game.location %>
</p>
>>>>>>> master
