
<%= render 'header' %>

<div class="container">

	<h1>
		<%= link_to @sport.name, @sport %>: <%= link_to @home_team.name.capitalize, @home_team %> vs. <%= link_to @away_team, @away_team %>
	</h1>

	<span>
		Created: <%= time_ago_in_words(@game.created_at) %> ago
		| <%= link_to 'Edit', edit_game_path(@game) %>
		| <%= link_to 'Delete', game_path(@game), method: :delete, data: { confirm: 'Are you sure?'} %>
	</span>

	<span>Scheduled: <%= @game.schedule %></span>
	<span>Location: <%= @game.location %></span>

</div>

<%= render '/nav_secondary' %>
